Package	Source	MinimumVersion
shiny	CRAN	-
shinyjs	CRAN	-
readxl	CRAN	-
dplyr	CRAN	-
tibble	CRAN	-
rlang	CRAN	-
tidyr	CRAN	-
stringr	CRAN	-
DT	CRAN	-
ggplot2	CRAN	-
svglite	CRAN	-
ggpubr	CRAN	-
ggnewscale	CRAN	-
patchwork	CRAN	-
RColorBrewer	CRAN	-
ggrepel	CRAN	-
ggpp	CRAN	-
data.table	CRAN	-
Rcpp	CRAN	-
zip	CRAN	-
processx	CRAN	-
later	CRAN	-
httpuv	CRAN	-
clusterProfiler	Bioconductor	-
enrichplot	Bioconductor	-
GseaVis	junjunlab/GseaVis	0.1.1
